:root {
  /* Color */
  --color-white: #ffffff;
  --color-header-gray: #e8e8e8;
  --color-background-gray: #f5f5f5;
  --color-borderline-gray: #cccccc;
  --color-input-gray: #dddddd;
  --color-faq-text-gray: #888888;
  --color-form-gray: #bbbbbb;
  --color-text-gray: #999999;
  --color-form-text: #676767;
  --color-text-black: #333333;
  --color-title-black: #181818;
  --color-black: #000000;

  /* Font Family */
  --font-family-spoqa: "Spoqa Han Sans Neo", sans-serif;
  --font-family-lato: "Lato", sans-serif;
  --font-family-abel: "Abel", sans-serif;
  --font-family-mix: "Lato", "Spoqa Han Sans Neo", sans-serif;
  --font-family-body: "Spoqa Han Sans Neo", "Lato", "Abel", sans-serif;

  /* Font weight */
  --weight-thin: 100;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  cursor: default;
  font-family: var(--font-family-body);
}

a,
a:hover,
a:active {
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  border: none;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

/* Typography */

input[type="text"],
input[type="password"],
input[type="number"] {
  color: var(--color-black);
  font-size: 18px;
}

input::placeholder {
  font-family: var(--font-family-spoqa);
  font-weight: var(--weight-light);
  font-size: 14px;
  color: var(--color-form-gray);
}

/* Header */
#header {
  background-color: var(--color-white);
  position: sticky;
  top: 0;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  margin: 0 auto;
  border-bottom: 1px solid var(--color-header-gray);
  max-width: 1400px;
}

.logo {
  width: 86px;
  height: 36px;
}

.search__stay,
.search__activity {
  font-family: var(--font-family-lato);
  font-weight: var(--weight-regular);
  font-size: 15px;
  padding: 0;
}

.search__stay::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 15px;
  margin: 0 23px 0 25px;
  background: var(--color-faq-text-gray);
  vertical-align: middle;
}

.nav__menu {
  display: flex;
  font-family: var(--font-family-lato);
  font-weight: var(--weight-bold);
  font-size: 15px;
}

.nav__item {
  margin-left: 25px;
  color: var(--color-black);
}

.nav__item:first-child {
  border-right: 1px solid var(--color-borderline-gray);
  padding-right: 25px;
}

.nav__item a {
  color: var(--color-black);
}

/* Mypage-main */
#main {
  margin: 0 auto;
  max-width: 1400px;
}

.section__header {
  text-align: center;
  margin: 70px 0;
}

.section__title {
  font-family: var(--font-family-lato);
  font-weight: var(--weight-bold);
  font-size: 18px;
  letter-spacing: 14px;
  text-indent: 14px;
}

.section__text {
  font-size: 15px;
  font-weight: var(--weight-regular);
  margin-top: 10px;
  text-align: center;
}

.mypage {
  margin: 0 auto;
  max-width: 1200px;
}

.mypage__info {
  text-align: center;
  padding-bottom: 60px;
}

.info__title {
  font-size: 30px;
  font-weight: var(--weight-medium);
}

.info__count {
  font-size: 18px;
  font-weight: var(--weight-light);
  color: var(--color-text-gray);
  margin-top: 20px;
}

.host {
  text-align: right;
  vertical-align: middle;
  margin: 5px 0;
}

.host a {
  font-size: 18px;
  font-weight: var(--weight-light);
  color: var(--color-text-black);
}

.host__icon {
  margin-right: 3px;
  width: 15px;
  height: 15px;
}

.mypage-wrap {
  display: flex;
  padding-top: 60px;
  border-top: 3px solid var(--color-black);
}

.mypage__menu {
  flex-basis: 20%;
}

.mypage__content {
  flex-basis: 80%;
}

.menu__my-stay {
  margin-bottom: 50px;
}

.menu__my-stay,
.menu__my-info {
  font-size: 14px;
  font-weight: var(--weight-light);
  line-height: 38px;
  text-align: left;
  color: var(--color-title-black);
}

.menu__my-stay a,
.menu__my-info a {
  color: var(--color-title-black);
}

.my-stay__item:first-child,
.my-info__item:first-child {
  font-size: 18px;
  font-weight: var(--weight-medium);
}

.my-stay__item a.active {
}

.chat-icon {
  width: 40px;
  height: 40px;
}

.content__menu {
  display: flex;
}

.content__item:first-child {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid var(--color-borderline-gray);
}

.content__item a {
  font-family: var(--font-family-lato);
  font-weight: var(--weight-light);
  font-size: 18px;
  color: var(--color-text-gray);
}

.content__item a.active {
  font-weight: var(--weight-regular);
  color: var(--color-black);
}

.content {
  height: 100%;
  margin-top: 30px;
  border: 1px solid var(--color-text-black);
}

/* Footer */

#footer {
  background-color: var(--color-background-gray);
  padding: 70px 0;
  margin-top: 110px;
}

.footer-wrap {
  display: flex;
  margin: 0 auto;
  max-width: 1400px;
}

.company {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 85%;

  font-weight: var(--weight-light);
  font-size: 12px;
}

.company__logo {
  width: 78px;
  height: 32px;
}

.company__address {
  font-style: normal;
  line-height: 1.8;
}

.company__address span {
  margin-right: 15px;
}

.team5 {
  flex-basis: 15%;
  padding-left: 25px;
  border-left: 1px solid var(--color-borderline-gray);
}

.team5__git {
  font-size: 24px;
  color: var(--color-faq-text-gray);
}

.team5 p {
  font-family: var(--font-family-spoqa);
  font-weight: var(--weight-light);
  font-size: 13px;
  margin-top: 12px;
}

.name {
  color: var(--color-black);
}
