:root {
  /* Color */
  --color-white: #ffffff;
  --color-header-gray: #e8e8e8;
  --color-background-gray: #f5f5f5;
  --color-borderline-gray: #cccccc;
  --color-input-gray: #dddddd;
  --color-faq-text-gray: #888888;
  --color-form-gray: #bbbbbb;
  --color-form-text: #676767;
  --color-text-black: #333333;
  --color-title-black: #181818;
  --color-black: #000000;

  /* Font Family */
  --font-family-spoqa: "Spoqa Han Sans Neo", sans-serif;
  --font-family-lato: "Lato", sans-serif;
  --font-family-abel: "Abel", sans-serif;
  --font-family-mix: "Lato", "Spoqa Han Sans Neo", sans-serif;
  --font-family-body: "Spoqa Han Sans Neo", "Lato", "Abel", sans-serif;

  /* Font weight */
  --weight-thin: 100;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  cursor: default;
  font-family: var(--font-family-body);
}

a,
a:hover,
a:active {
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  padding: 0;
  margin: 0;
  border: none;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: var(--color-black);
}

/* Typography */

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
  color: var(--color-black);
  font-size: 18px;
}

input::placeholder {
  font-family: var(--font-family-spoqa);
  font-weight: var(--weight-light);
  font-size: 14px;
  color: var(--color-form-gray);
}

/* Header */
#header {
  background-color: var(--color-white);
  position: sticky;
  top: 0;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  margin: 0 auto;
  border-bottom: 1px solid var(--color-header-gray);
  max-width: 1400px;
}

.logo {
  width: 86px;
  height: 36px;
}

.search__stay,
.search__activity {
  font-family: var(--font-family-lato);
  font-weight: var(--weight-regular);
  font-size: 15px;
  padding: 0;
}

.search__stay::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 15px;
  margin: 0 23px 0 25px;
  background: var(--color-faq-text-gray);
  vertical-align: middle;
}

.nav__menu {
  display: flex;
  font-family: var(--font-family-lato);
  font-weight: var(--weight-bold);
  font-size: 15px;
}

.nav__item {
  margin-left: 25px;
  color: var(--color-black);
}

.nav__item:first-child {
  border-right: 1px solid var(--color-borderline-gray);
  padding-right: 25px;
}

.nav__item a {
  color: var(--color-black);
}

/* Main-index */

#stay {
  text-align: center;
}

.stay-new__list img {
  max-width: 1400px;
}

/* Main-login, Join */

.login-wrap {
  margin: 0 auto;
  max-width: 1400px;
}

.section__header {
  margin: 70px 0;
  text-align: center;
}

.section__title {
  font-family: var(--font-family-lato);
  font-weight: var(--weight-bold);
  font-size: 18px;
  letter-spacing: 14px;
  text-indent: 14px;
}

.section__text {
  font-size: 15px;
  font-weight: var(--weight-regular);
  margin-top: 10px;
  text-align: center;
}

#login,
#join {
  width: 360px;
  margin: 0 auto;
  border-top: 1px solid var(--color-black);
}

.form__wrap {
  margin: 30px 0;
}

.join__box {
  margin-bottom: 30px;
}

.warning {
  font-size: 14px;
  margin: 8px 0;
  color: red;
}

label,
.check__title {
  font-size: 12px;
  font-weight: var(--weight-light);
}

.login__box input,
.join__box input {
  width: 100%;
  height: 45px;
  margin-top: 13px;
  border-bottom: 1px solid var(--color-borderline-gray);
}

.radio-box {
  height: 35px;
  margin-top: 23px;
  border-bottom: 1px solid var(--color-borderline-gray);
}

.radio-box label {
  position: relative;
  top: -1.5px;
  font-size: 14px;
  margin: 0 30px 0 3px;
}

.agree-checkbox {
  margin: 30px 0;
  border-bottom: 1px solid var(--color-input-gray);
}

.agree-checkbox label {
  position: relative;
  top: -2.5px;
}

.agree-checkbox input {
  margin-right: 5px;
}

.agree__all {
  display: table;
  width: 100%;
  height: 40px;
  font-size: 13px;
  color: var(--color-text-black);
  border-bottom: 1px solid var(--color-input-gray);
}

.all-wrap {
  display: table-cell;
  vertical-align: middle;
}

.agree__box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.agree__text {
  font-size: 12px;
  font-weight: var(--weight-light);
  color: var(--color-text-black);
  line-height: 2;
  padding: 30px 20px;
  background-color: var(--color-background-gray);
}

summary {
  position: relative;
  height: 35px;
}

summary::marker {
  content: "";
  display: none;
}

summary::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  color: var(--color-black);
}

details[open] summary::after {
  content: "\f077";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-align: right;
  color: var(--color-black);
}

.btn__login,
.btn__join {
  width: 100%;
  height: 55px;
  font-family: var(--font-family-abel);
  font-size: 14px;
  color: var(--color-white);
  background-color: var(--color-black);
  letter-spacing: 4px;
}

.login__etc {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.sign-in,
.forgot-pwd {
  font-size: 14px;
  font-weight: var(--weight-regular);
  color: var(--color-form-text);
}

.sns__title {
  font-size: 16px;
  font-weight: var(--weight-regular);
}

.login__sns {
  margin-top: 80px;
  text-align: center;
}

.sns__login {
  margin-top: 40px;
}

.sns__icon {
  width: 60px;
  height: 60px;
}

/* Main-Join */

/* Footer */

#footer {
  background-color: var(--color-background-gray);
  padding: 70px 0;
  margin-top: 110px;
}

.footer-wrap {
  display: flex;
  margin: 0 auto;
  max-width: 1400px;
}

.company {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 85%;

  font-weight: var(--weight-light);
  font-size: 12px;
}

.company__logo {
  width: 78px;
  height: 32px;
}

.company__address {
  font-style: normal;
  line-height: 1.8;
}

.company__address span {
  margin-right: 15px;
}

.team5 {
  flex-basis: 15%;
  padding-left: 25px;
  border-left: 1px solid var(--color-borderline-gray);
}

.team5__git {
  font-size: 24px;
  color: var(--color-faq-text-gray);
}

.team5 p {
  font-family: var(--font-family-spoqa);
  font-weight: var(--weight-light);
  font-size: 13px;
  margin-top: 12px;
}

.name {
  color: var(--color-black);
}
