:root {
  /* Color */
  --color-white: #ffffff;
  --color-header-gray: #e8e8e8;
  --color-background-gray: #f5f5f5;
  --color-borderline-gray: #cccccc;
  --color-input-gray: #dddddd;
  --color-text-gray: #999999;
  --color-faq-text-gray: #888888;
  --color-form-gray: #bbbbbb;
  --color-form-text: #676767;
  --color-text-black: #333333;
  --color-title-black: #181818;
  --color-black: #000000;

  /* Font Family */
  --font-family-spoqa: "Spoqa Han Sans Neo", sans-serif;
  --font-family-lato: "Lato", sans-serif;
  --font-family-abel: "Abel", sans-serif;
  --font-family-mix: "Lato", "Spoqa Han Sans Neo", sans-serif;
  --font-family-body: "Spoqa Han Sans Neo", "Lato", "Abel", sans-serif;

  /* Font weight */
  --weight-thin: 100;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  cursor: default;
  font-family: var(--font-family-body);
}

a,
a:hover,
a:active {
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  padding: 0;
  margin: 0;
  border: none;
}

h1,
h2,
h3,
p,
dl,
dd,
dt {
  padding: 0;
  margin: 0;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: var(--color-black);
}

/* Typography */

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="date"] {
  color: var(--color-black);
  font-size: 16px;
  font-weight: var(--weight-light);
}

input::placeholder,
textarea::placeholder {
  font-family: var(--font-family-spoqa);
  font-weight: var(--weight-light);
  font-size: 14px;
  color: var(--color-form-gray);
}

textarea {
  font-family: var(--font-family-spoqa);
  font-weight: var(--weight-light);
  font-size: 16px;
  color: var(--color-text-black);
}

/* Header */
#header {
  background-color: var(--color-white);
  position: sticky;
  top: 0;
  z-index: 20;
}

.header-wrap {
  display: flex;
  align-items: center;
  padding: 16px 0;
  margin: 0 auto;
  border-bottom: 1px solid var(--color-header-gray);
  max-width: 1400px;
}

.header__logo {
  flex-basis: 467px;
}

.search {
  flex-basis: 466px;
  text-align: center;
  padding-left: 36px;
}

#nav {
  flex-basis: 467px;
}

.logo {
  width: 86px;
  height: 36px;
}

.search__stay,
.search__activity {
  font-family: var(--font-family-lato);
  font-weight: var(--weight-regular);
  font-size: 15px;
  padding: 0;
}

.search__stay::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 15px;
  margin-left: 25px;
  background: var(--color-faq-text-gray);
  vertical-align: middle;
}

.search__activity {
  margin-left: 25px;
}

.nav__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: var(--font-family-lato);
  font-weight: var(--weight-bold);
  font-size: 15px;
}

.nav__item {
  margin-left: 25px;
  color: var(--color-black);
}

.nav__item:first-child {
  border-right: 1px solid var(--color-borderline-gray);
  padding-right: 25px;
}

.mypage-icon {
  width: 16px;
  height: 16px;
  margin-top: 3px;
}

.nav__item a {
  color: var(--color-black);
}

/* Main-index */

#stay,
.discount-wrap,
#event,
#activity {
  max-width: 1400px;
  margin: 0 auto;
}

#stay-total,
#event,
#activity-total,
#activity-new {
  margin-top: 110px;
}

.stay-new__item a {
  display: block;
  position: relative;
}

/* 이승준 주석처리 
.stay-new__image {
  width: 100%;
  height: 850px;
  background-color: gray;
} 
*/

.stay-new__image img{
  width: 100%;
  height: 850px;
  background-repeat : no-repeat;
  background-size : cover;
}

.stay-new__info {
  text-align: center;
  width: 320px;
  height: 300px;
  position: absolute;
  right: 70px;
  top: 50%;
  padding: 30px 0;
  margin-top: -150px;
  background-color: var(--color-white);
}

/* 이승준 추가 */
.stay-total__list {
 display: flex;
 
}

.stay-total__item-wrap {
  display: flex;
  justify-content: space-between;
}

/* .stay-total__image {
  width: 410px;
  height: 250px;
  background-color: gray;
} */

.stay-total__image img{
  width: 410px;
  height: 250px;
  background-repeat : no-repeat;
  background-size : cover;
}

.promotion-banner {
  margin-top: 150px;
}

.promotion__image {
  color: white;
  background-color: black;
  height: 350px;
}

#discount {
  padding: 110px 0;
  background-color: var(--color-background-gray);
}

.discount__item a {
  display: flex;
}


/* .discount__image {
  width: 960px;
  height: 540px;
  background-color: gray; 
}  */


.discount__image img{
  width: 960px;
  height: 540px;
  background-repeat : no-repeat;
  background-size : cover;
}

.event__item-wrap {
  display: flex;
  justify-content: space-between;
}

.event__image {
  width: 410px;
  height: 250px;
  background-color: gray;
}

.activity-new__item a {
  display: block;
  position: relative;
}

.activity-new__image {
  width: 100%;
  height: 650px;
  background-color: gray;
}

.activity-new__info {
  width: 400px;
  height: 160px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--color-white);
}

.activity-total__item-wrap {
  display: flex;
  justify-content: space-between;
}

.activity-total__image {
  width: 400px;
  height: 400px;
  background-color: gray;
}

/* Main-login, Join */

.login-wrap {
  margin: 0 auto;
  max-width: 1400px;
}

.section__header {
  margin: 70px 0;
  text-align: center;
}

.section__title {
  font-family: var(--font-family-lato);
  font-weight: var(--weight-bold);
  font-size: 18px;
  letter-spacing: 14px;
  text-indent: 14px;
}

.section__text {
  font-size: 15px;
  font-weight: var(--weight-regular);
  margin-top: 10px;
  text-align: center;
}

#login,
#join {
  width: 360px;
  margin: 0 auto;
  border-top: 1px solid var(--color-black);
}

.form__wrap {
  margin: 30px 0;
}

.join__box {
  margin-bottom: 30px;
}

.warning {
  font-size: 14px;
  margin: 8px 0;
  color: red;
}

label,
.check__title {
  font-size: 12px;
  font-weight: var(--weight-light);
}

.login__box input,
.join__box input {
  width: 100%;
  height: 45px;
  margin-top: 13px;
  border-bottom: 1px solid var(--color-borderline-gray);
}

.radio-box {
  height: 35px;
  margin-top: 23px;
  border-bottom: 1px solid var(--color-borderline-gray);
}

.radio-box label {
  position: relative;
  top: -1.5px;
  font-size: 14px;
  margin: 0 30px 0 3px;
}

.agree-checkbox {
  margin: 30px 0;
  border-bottom: 1px solid var(--color-input-gray);
}

.agree-checkbox label {
  position: relative;
  top: -2.5px;
}

.agree-checkbox input {
  margin-right: 5px;
}

.agree__all {
  display: table;
  width: 100%;
  height: 40px;
  color: var(--color-text-black);
  border-bottom: 1px solid var(--color-input-gray);
}

.agree__all label {
  font-size: 13px;
}

.all-wrap {
  display: table-cell;
  vertical-align: middle;
}

.agree__box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.agree__text {
  font-size: 12px;
  font-weight: var(--weight-light);
  color: var(--color-text-black);
  line-height: 2;
  padding: 30px 20px;
  background-color: var(--color-background-gray);
}

summary {
  position: relative;
  height: 35px;
}

summary::marker {
  content: "";
  display: none;
}

summary::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  color: var(--color-black);
}

details[open] summary::after {
  content: "\f077";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-align: right;
  color: var(--color-black);
}

.btn__login,
.btn__join {
  width: 100%;
  height: 55px;
  font-family: var(--font-family-abel);
  font-size: 14px;
  color: var(--color-white);
  background-color: var(--color-black);
  letter-spacing: 4px;
}

.login__etc {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.sign-in,
.forgot-pwd {
  font-size: 14px;
  font-weight: var(--weight-regular);
  color: var(--color-form-text);
}

.sns__title {
  font-size: 16px;
  font-weight: var(--weight-regular);
}

.login__sns {
  margin-top: 80px;
  text-align: center;
}

.sns__login {
  margin-top: 40px;
}

.sns__icon {
  width: 60px;
  height: 60px;
}

/* Main-Find id, fw */
.find__text {
  font-size: 14px;
  font-weight: var(--weight-light);
  line-height: 1.8;
  padding: 65px 0;
  text-align: center;
}

/* Accommo-Reservations */

.accommo-reservation {
  width: 1200px;
  margin: 0 auto;
}

.booking-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 2px solid var(--color-input-gray);
  margin-bottom: 50px;
}

.accommo-name,
.accommo-price {
  font-size: 26px;
  font-weight: var(--weight-medium);
}

.form__date {
  font-family: var(--font-family-spoqa);
  text-align: center;
  height: 40px;
  padding: 0 10px;
}

.form__date::-webkit-calendar-picker-indicator {
}

.reservation-wrap {
  padding-bottom: 60px;
  border: 1px solid var(--color-header-gray);
}

.payment__title {
  font-family: var(--font-family-abel);
  font-size: 18px;
  font-weight: var(--weight-bold);
  letter-spacing: 18px;
}

.reservation__value {
  font-size: 16px;
  font-weight: var(--weight-light);
}

.reservation__value--people {
  position: relative;
  width: 550px;
}

.num-people-wrap {
  display: flex;
  align-items: center;
}

.num-people label {
  font-size: 14px;
  margin-right: 4px;
}

.num-people {
  margin-right: 15px;
}

.num-people__select {
  text-align: center;
  width: 70px;
  height: 40px;
  border: 1px solid var(--color-input-gray);
  border-radius: 5px;
}

.member-text {
  position: absolute;
  top: 4px;
  right: 0;
  font-size: 12px;
  font-weight: var(--weight-light);
  color: var(--color-faq-text-gray);
}

#span-night {
  padding-left: 7px;
  margin-left: 7px;
  border-left: 1px solid var(--color-text-gray);
}

#maximum-error {
  font-size: 14px;
  font-weight: var(--weight-light);
  color: red;
  padding-top: 10px;
}

.reservation-info-check {
  display: flex;
  align-items: center;
  height: 40px;
}

.reservation-info-check label {
  font-size: 15px;
  font-weight: var(--weight-light);
  margin-left: 7px;
}

.reservation-user {
  margin-top: 10px;
}

.reservation-user label {
  display: inline-block;
  width: 70px;
}

.reservation__value--price {
  display: flex;
  flex-direction: column;
}

.reservation__value--price dl {
  display: flex;
  justify-content: space-between;
  width: 550px;
  padding: 4px 0;
}

.reservation__value--price dt,
.reservation__value--price dd {
  font-size: 13px;
  font-weight: var(--weight-light);
  color: var(--color-text-gray);
}

.reservation__value--price dd {
  text-align: right;
}

.reservation__value--price input {
  text-align: right;
  width: 100px;
  height: 30px;
  border: 1px solid var(--color-input-gray);
  border-radius: 5px;
}

#reservation-total-price,
.reservation-total-price {
  font-size: 24px;
  font-weight: var(--weight-medium);
  color: var(--color-black);
}

#point-error {
  color: red;
  padding-top: 7px;
}

.reservation-radio {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.reservation-radio label {
  position: relative;
  font-size: 15px;
  margin-left: 7px;
}

.kakao-pay {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
}

.refund-box {
  display: flex;
  margin-bottom: 20px;
}

.refund-box:last-child {
  margin-bottom: 0;
}

.refund-title {
  flex-basis: 15%;
  font-size: 16px;
  color: var(--color-faq-text-gray);
}

.refund-content {
  flex-basis: 85%;
}

.refund-content li {
  list-style-type: disc;
  font-size: 14px;
  color: var(--color-faq-text-gray);
}

.refund-content li::marker {
  color: var(--color-faq-text-gray);
}

.refund-table {
  width: 100%;
  border-collapse: collapse;
}

.refund-table td {
  text-align: center;
  vertical-align: middle;
  height: 36px;
  border: 1px solid var(--color-text-black);
}

.refund-table tr:first-child td {
  font-weight: var(--weight-medium);
}

.btn__reservation {
  display: flex;
  justify-content: center;
  padding: 10px 0 30px 0;
}

/* Accommo-completepayment */

.reservation-complete-text {
  text-align: center;
  font-size: 22px;
  font-weight: var(--weight-regular);
  padding-bottom: 70px;
}

.reservation-box {
  width: 850px;
  border-top: 3px solid var(--color-black);
  padding: 60px 40px 0;
  margin: 0 auto;
}

.accommo-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.accommo-info__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
}

.accommo-text {
  font-size: 16px;
  font-weight: var(--weight-light);
}

.accommo-info__text p:first-child {
  margin-bottom: 5px;
}

.accommo-payment {
  font-size: 20px;
  font-weight: var(--weight-regular);
}

.accommo-info__img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 340px;
  height: 220px;
}

.accommo-user {
  display: flex;
  padding: 30px 0;
  border-top: 1px solid var(--color-input-gray);
  border-bottom: 1px solid var(--color-input-gray);
}

.accommo-user dl {
  flex-basis: 25%;
}

.accommo-user dt {
  font-size: 13px;
  font-weight: var(--weight-light);
  margin-bottom: 5px;
}

.accommo-user dd {
  font-size: 16px;
  font-weight: var(--weight-regular);
}

.reservation-check__btn {
  text-align: center;
  padding: 30px 0;
}

.btn__reservation-check,
.btn__reservation-cancel {
  width: 230px;
  height: 55px;
  font-size: 15px;
  font-weight: var(--weight-light);
}

.btn__reservation-check {
  color: var(--color-white);
  background-color: var(--color-black);
  margin-right: 10px;
}

.btn__reservation-cancel {
  border: 1px solid var(--color-black);
}

/* Footer */

#footer {
  background-color: var(--color-background-gray);
  padding: 70px 0;
  margin-top: 110px;
}

.footer-wrap {
  display: flex;
  margin: 0 auto;
  max-width: 1400px;
}

.company {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 85%;

  font-weight: var(--weight-light);
  font-size: 12px;
}

.company__logo {
  width: 78px;
  height: 32px;
}

.company__address {
  font-style: normal;
  line-height: 1.8;
}

.company__address span {
  margin-right: 15px;
}

.team5 {
  flex-basis: 15%;
  padding-left: 25px;
  border-left: 1px solid var(--color-borderline-gray);
}

.team5__git {
  font-size: 24px;
  color: var(--color-faq-text-gray);
}

.team5 p {
  font-family: var(--font-family-spoqa);
  font-weight: var(--weight-light);
  font-size: 13px;
  margin-top: 12px;
}

.name {
  color: var(--color-black);
}
