<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hoge.mapper.AccommodationMapper">
	<!-- 염주환 -->
	<select id="getAllAccommodations" resultType="com.hoge.vo.accommo.Accommodation">
		select
			accommo_no as no, 
			host_no as hostNo, 
			accommo_type as type, 
			accommo_name as name, 
			accommo_intro_title as introTitle,
			accommo_intro_content as introContent,
			accommo_web_address as webAddress,
			accommo_check_in_time as checkInTime,
			accommo_check_out_time as checkOutime,
			average_cleanliness_star as cleanlinessStar,
			average_communication_star as communicationStar, 
			average_accuracy_star as accuracyStar, 
			average_location_star as locationStar, 
			accommo_address as adress,
			accommo_region_depth1 as regionDepth1, 
			accommo_region_depth2 as regionDepth2, 
			accommo_region_depth3 as regionDepth3, 
			accommo_xce as xce, 
			accommo_yce as yce,
			accommo_registered_date as registeredDate
		from
            tb_final_accommodations 
	</select>
	
	<!-- 염주환 -->
	<select id="getRoomsByAccommoNo" parameterType="int" resultType="com.hoge.vo.accommo.Room">
		select
			room_no as no,
			accommo_no as accommoNo,
			room_name as name,
			weekdays_price as weekdaysPrice,
            weekend_price as weekendPrice,
            peak_season_price as peakSeasonPrice,
            standard_number as standardNumber,
            maximum_number as maximumNumber,
        	price_per_person as pricePerPerson,
        	room_amenity as amenity,
        	room_feature as feature
        from
        	tb_final_rooms
        where
        	accommo_no = #{value}
	</select>
	
	<!-- 염주환 -->
	<select id="getAccommoImageListByAccommoNo" parameterType="int" resultType="com.hoge.vo.accommo.AccommoImage">
		select
			accommo_image as image,
			accommo_no as accommoNo
		from
			tb_final_accommo_images
		where
			accommo_no = #{value}
	</select>
	
	<!-- 염주환 -->
	<select id="getAllAccommoPosition" resultType="com.hoge.dto.AccommoPositionDto">
		select
			accommo_no as no,
			accommo_xce as xce, 
			accommo_yce as yce,
		from
        	tb_final_rooms
	</select>
	
	<!-- 염주환 -->
	<select id="getAccommodationByNo" parameterType="int" resultType="com.hoge.vo.accommo.Accommodation">
		select
			accommo_no as no, 
			host_no as hostNo, 
			accommo_type as type, 
			accommo_name as name, 
			accommo_intro_title as introTitle,
			accommo_intro_content as introContent,
			accommo_web_address as webAddress,
			accommo_check_in_time as checkInTime,
			accommo_check_out_time as checkOutime,
			average_cleanliness_star as cleanlinessStar,
			average_communication_star as communicationStar, 
			average_accuracy_star as accuracyStar, 
			average_location_star as locationStar, 
			accommo_address as adress,
			accommo_region_depth1 as regionDepth1, 
			accommo_region_depth2 as regionDepth2, 
			accommo_region_depth3 as regionDepth3, 
			accommo_xce as xce, 
			accommo_yce as yce,
			accommo_registered_date as registeredDate
		from
            tb_final_accommodations 
        where
        	accommo_no = #{value}
	</select>
	
	<!-- 염주환 -->
	<select id="getRoomByNo" parameterType="int" resultType="com.hoge.vo.accommo.Room">
		select
			room_no as no,
			accommo_no as accommoNo,
			room_name as name,
			weekdays_price as weekdaysPrice,
			weekend_price as weekendPrice,
			peak_season_price as peakSeasonPrice,
			standard_number as standardNumber,
			maximum_number as maximumNumber,
			price_per_person as pricePerPerson,
			room_amenity as amenity,
			room_feature as feature
		from
			tb_final_rooms
		where
			room_no = #{value}
	</select>
</mapper>