<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hoge.mapper.AccommodationMapper">

	<select id="getAccommoListDto" resultType="com.hoge.dto.AccommoListDto">
		select
			a.accommo_no as no, 
			a.host_no as hostNo, 
			a.accommo_type as type, 
			a.accommo_name as name, 
			a.average_cleanliness_star as cleanlinessStar,
			a.average_communication_star as communicationStar, 
			a.average_accuracy_star as accuracyStar, 
			a.average_location_star as locationStar, 
			a.accommo_region_depth1 as regionDepth1, 
			a.accommo_region_depth2 as regionDepth2, 
			a.accommo_region_depth3 as regionDepth3, 
			a.accommo_xce as xce, 
			a.accommo_yce as yce,
			i.accommo_image as image,
            r.weekdays_price as weekdaysPrice,
            r.weekend_price as weekendPrice,
            r.peak_season_price as peakSeasonPrice,
            r.standard_number as standardNumber,
            r.maximum_number as maximumNumber        
		from
            tb_final_accommodations a,
            tb_final_accommo_images i,
            tb_final_rooms r
        where
            a.accommo_no = i.accommo_no(+)
            and a.accommo_no = r.accommo_no
	</select>
	
</mapper>