<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hoge.mapper.ActivityMapper">

	<!-- 염주환 -->
	<select id="getActivityByNo" parameterType="int" resultType="com.hoge.vo.activities.Activity">
		select
			activity_no as no,
			host_no as hostNo,
			maximum_number as maximumNumber,
			price_per_person as pricePerPerson,
			activity_name as name,
			activity_registered_date as registeredDate,
			average_star as star,
			activity_address as address,
			activity_region_depth1 as regionDepth1,
			activity_region_depth2 as regionDepth2,
			activity_region_depth3 as regionDepth3,
			activity_xce as xce,
			activity_yce as yce,
			activity_intro_title as introTitle,
			activity_intro_content as introContent
		from
			tb_final_activities
		where
			activity_no = #{value}
	</select>



</mapper>