<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hoge.mapper.HostMapper">

	<!-- 유상효 userId로 가장 큰 hostNo 불러오기 -->
	<select id="getHostNoByUserId" parameterType="String" resultType="int">
		SELECT MAX(H.HOST_NO)
		FROM TB_FINAL_HOSTS H, TB_FINAL_USERS U
		WHERE H.HOST_USER_NO = U.USER_NO
		AND USER_ID = #{VALUE}
	</select>

	<!-- 유상효 userId로 userNo 불러오기 -->
	<select id="getUserNoByUserId" parameterType="String" resultType="int">
	  	SELECT USER_NO FROM TB_FINAL_USERS
	  	WHERE USER_ID = #{VALUE}
	</select>

	<!-- 유상효 호스트 등록하기 -->
	<insert id="insertHostApply" parameterType="com.hoge.vo.other.Host">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
				select FINAL_HOST_NO_SEQ.NEXTVAL
				from dual
		</selectKey>
		INSERT INTO TB_FINAL_HOSTS
		(
		HOST_NO,
		HOST_USER_NO,
		ACCOUNT_HOLDER_NAME,
		ACCOUNT_NUMBER,
		BANK_NAME,
		HOST_NAME,
		HOSTING_TYPE,
		HOST_TEL,
		HOST_MAIN_IMAGE
		)
		VALUES
			(
			#{no},
			#{userNo},
			#{accountHolderName},
			#{accountNumber},
			#{bankName},
			#{name},
			#{hostingType},
			#{tel},
			#{mainImage}
			)
	</insert>
	
	<!-- 유상효 숙박 등록하기 -->
	<insert id="insertAcc" parameterType="com.hoge.vo.accommo.Accommodation">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
				select FINAL_ACCOMMO_NO_SEQ.NEXTVAL
				from dual
		</selectKey>
		INSERT INTO TB_FINAL_ACCOMMODATIONS
		(
		ACCOMMO_NO,
		HOST_NO,
		ACCOMMO_TYPE,
		ACCOMMO_NAME,
		ACCOMMO_INTRO_TITLE,
		ACCOMMO_INTRO_CONTENT,
		ACCOMMO_WEB_ADDRESS,
		ACCOMMO_CHECK_IN_TIME,
		ACCOMMO_CHECK_OUT_TIME,
		ACCOMMO_ADDRESS
		)
		VALUES
			(
			#{no},
			#{hostNo},
			#{type},
			#{name},
			#{introTitle},
			#{introContent},
			#{webAddress},
			#{checkInTime},
			#{checkOutime},
			#{address}
			)
	</insert>

	<!-- 유상효 숙소 사진 저장 -->
	<insert id="insertAccImage" parameterType="com.hoge.vo.accommo.AccommoImage">
		INSERT INTO TB_FINAL_ACCOMMO_IMAGES
		(
		ACCOMMO_IMAGE,
		ACCOMMO_NO
		)
		VALUES
			(
			#{image},
			#{accommoNo}
			)
	</insert>
	
	<!-- 유상효 체험 등록하기 -->	
	<insert id="insertAct" parameterType="com.hoge.vo.activities.Activity">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
				select FINAL_ACTIVITY_NO_SEQ.NEXTVAL
				from dual
		</selectKey>
		INSERT INTO TB_FINAL_ACTIVITIES
		(
		ACTIVITY_NO,
		HOST_NO,
		MAXIMUM_NUMBER,
		PRICE_PER_PERSON,
		ACTIVITY_NAME,
		ACTIVITY_ADDRESS,
		ACTIVITY_INTRO_TITLE,
		ACTIVITY_INTRO_CONTENT
		)
		VALUES
			(
			#{no},
			#{hostNo},
			#{maximumNumber},
			#{pricePerPerson},
			#{name},
			#{address},
			#{introTitle},
			#{introContent}
			)
	</insert>
	
	<!-- 유상효 체험 사진 저장-->
	<insert id="insertActImage" parameterType="com.hoge.vo.activities.ActivityImage">
		INSERT INTO TB_FINAL_ACTIVITY_IMAGES
		(
		ACTIVITY_IMAGE,
		ACTIVITY_NO
		)
		VALUES
			(
			#{image},
			#{activityNo}
			)
	</insert>
	
	<!-- 유상효 accNo로 숙소사진 불러오기 -->
	<select id="getAccImagesByAccNo" parameterType="int" resultType="com.hoge.vo.accommo.AccommoImage">
		select
			accommo_image as image,
			accommo_no as accommoNo
		from
			tb_final_accommo_images
		where
			accommo_no = #{value}
	</select>
	
	<!-- 유상효 accNo로 체험사진 불러오기 -->
	<select id="getActImagesByActNo" parameterType="int" resultType="com.hoge.vo.activities.ActivityImage">
		select
			activity_image as image,
			activity_no as activityNo
		from
			tb_final_activity_images
		where
			activity_no = #{value}
	</select>
	
	<!-- 유상효 유저넘버로 숙소리스트 가져오기 -->
	<select id="getAccListByUserNo" parameterType="int" resultType="com.hoge.dto.AccListDto">
		select
			a.accommo_name as accName,
			a.accommo_No as accNo,
			h.host_main_image as mainImage,
			h.hosting_type as hostingType,
			h.host_no as hostNo,
			a.accommo_type as accType
		from
			tb_final_accommodations a, tb_final_hosts h, tb_final_users u 
		where
			u.user_no = h.host_user_no
		and h.host_no = a.host_no
		and u.user_no = #{value}
	</select>

	<!-- 유상효 유저넘버로 체험리스트 가져오기 -->
	<select id="getActListByUserNo" parameterType="int" resultType="com.hoge.dto.ActListDto">
		select
			a.activity_name as actName,
			a.activity_no as actNo,
			h.host_main_image as mainImage,
			h.hosting_type as hostingType,
			h.host_no as hostNo
		from
			tb_final_activities a, tb_final_hosts h, tb_final_users u 
		where
			u.user_no = h.host_user_no
		and h.host_no = a.host_no
		and u.user_no = #{value}
	</select>
	
	<!-- 유상효 호스트넘버로 숙소정보 가져오기 -->
	<select id="getAccMainByHostNo" parameterType="int" resultType="com.hoge.dto.AccMainDto">
		select
			a.accommo_name as accName,
			a.accommo_No as accNo,
			h.host_main_image as mainImage,
			h.hosting_type as hostingType,
			h.host_no as hostNo,
			a.accommo_type as accType
		from
			tb_final_accommodations a, tb_final_hosts h
		where
			a.host_no = h.host_no
		and h.host_no = #{value}
	</select>
	
	<!-- 유상효 호스트넘버로 체험정보 가져오기 -->
	<select id="getActMainByHostNo" parameterType="int" resultType="com.hoge.dto.ActMainDto">
		select
			a.activity_name as actName,
			a.activity_no as actNo,
			h.host_main_image as mainImage,
			h.hosting_type as hostingType,
			h.host_no as hostNo
		from
			tb_final_activities a, tb_final_hosts h
		where
			a.host_no = h.host_no
		and h.host_no = #{value}
	</select>
	

	<!-- 성하민
		Host getHostByNo();
	 -->
	 <select id="getHostByNo" parameterType="int" resultType="com.hoge.vo.other.Host">
	 	select
	 		host_no as no,
	 		host_user_no as userNo,
	 		host_name as name,
	 		account_holder_name as accountHolderName,
	 		account_number as accountNumber,
	 		bank_name as bankName,
	 		hosting_type as hostingType,
	 		host_tel as tel,
	 		grade_name as gradeName,
	 		host_main_image as mainImage,
	 		ACCUMULATED_MONEY as accumulatedMoney
	 	from
	 		tb_final_hosts
	 	where 
	 		host_no = #{value} 
	 </select>

</mapper>