<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hoge.mapper.HostMapper">
  
  <!-- 유상효
		Host insertHostApply(); 
	 -->
	<insert id="insertHostApply" parameterType="com.hoge.vo.other.Host">
		--적으면됨
	</insert>

	<!-- 성하민
		Host getHostByNo();
	 -->
	 <select id="getHostByNo" parameterType="int" resultType="com.hoge.vo.other.Host">
	 	select
	 		host_no as no,
	 		host_user_no as userNo,
	 		host_name as name,
	 		account_holder_name as accountHolderName,
	 		account_number as accountNumber,
	 		bank_name as bankName,
	 		hosting_type as hostingType,
	 		host_tel as tel,
	 		grade_name as gradeName
	 	from
	 		tb_final_hosts
	 	where 
	 		host_no = #{value} 
	 </select>

</mapper>