<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hoge.mapper.HostQnAMapper">
  
  
	<!-- 성하민
		List<HostQnA> getHostQnAListByHostNo(int no);
	 -->
	 <select id="getHostQnAListByHostNo" parameterType="int" resultType="com.hoge.vo.other.HostQnA">
	 	select
	 		QUESTION_NO as no,
	 		HOST_NO as hostNo,
	 		QUESTION_CATEGORY as category,
	 		QUESTION_TITLE as title,
	 		QUESTION_CONTENT as content,
	 		QUESTION_DATE as questionDate,
	 		QUESTION_ANSWERED as answered,
	 		ANSWER_CONTENT as answerContent,
	 		ANSWER_UPDATE_DATE as answerUpdateDate,
	 		ANSWER_MODIFIED as answerModified
	 	from
	 		TB_FINAL_HOST_QNAS
	 	where 
	 		host_no = #{value} 
	 </select>
	 

</mapper>