<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hoge.mapper.QnAMapper">
  
  	<!-- 성하민
  	void insertHostQnA(HostQnA hostQnA); 
  	-->
  	<insert id="insertHostQnA" parameterType="com.hoge.vo.other.HostQnA">
		INSERT into TB_FINAL_HOST_QNAS
		(
		QUESTION_NO,
		HOST_NO,
		QUESTION_CATEGORY,
		QUESTION_TITLE,
		QUESTION_CONTENT
		)
		VALUES
			(FINAL_HOST_QNA_NO_SEQ.NEXTVAL,
			#{hostNo},
			#{category},
			#{title},
			#{content}
			)
	</insert>
  
  
  <!--  성하민
  	int getUserQnACountByUserNo(int no); -->
  <select id="getUserQnACountByUserNo" parameterType="int" resultType="int">
	 	select
	 		count(*)
	 	from
	 		TB_FINAL_USER_QNAS
	 	where 
	 		user_no = #{no} 
	 </select>
	 
	 
	 
	  <!-- List<UserQnA> getUserQnAListByUserNo(@Param("no") int no, @Param("begin") int begin, @Param("end") int end);-->
   <select id="getUserQnAListByUserNo" parameterType="int" resultType="com.hoge.vo.other.UserQnA">
	 	select
	 		QUESTION_NO as no,
	 		user_no as userNo,
	 		QUESTION_CATEGORY as category,
	 		QUESTION_TITLE as title,
	 		QUESTION_CONTENT as content,
	 		QUESTION_DATE as questionDate,
	 		QUESTION_ANSWERED as answered,
	 		ANSWER_CONTENT as answerContent,
	 		ANSWER_UPDATE_DATE as answerUpdateDate,
	 		ANSWER_MODIFIED as answerModified
	 	from
	 		(select 
		 			QUESTION_NO,
		 			user_no,
		 			QUESTION_CATEGORY,
		 			QUESTION_TITLE,
		 			QUESTION_CONTENT,
		 			QUESTION_DATE,
		 			QUESTION_ANSWERED,
		 			ANSWER_CONTENT,
		 			ANSWER_UPDATE_DATE,
		 			ANSWER_MODIFIED,
		 			row_number() over (order by QUESTION_DATE desc) rn
	 		from	TB_FINAL_user_QNAS
	 		where 
	 			user_no = #{no} )
	 		where rn between #{begin} and #{end}
	 </select>
  
  <!--  성하민
  	int getHostQnACountByHostNo(int no); -->
  <select id="getHostQnACountByHostNo" parameterType="int" resultType="int">
	 	select
	 		count(*)
	 	from
	 		TB_FINAL_HOST_QNAS
	 	where 
	 		host_no = #{no} 
	 </select>
  
  
  
	<!-- 성하민
		List<HostQnA> getHostQnAListByHostNo(int no);
	 -->
	 <select id="getHostQnAListByHostNo" parameterType="int" resultType="com.hoge.vo.other.HostQnA">
	 	select
	 		QUESTION_NO as no,
	 		HOST_NO as hostNo,
	 		QUESTION_CATEGORY as category,
	 		QUESTION_TITLE as title,
	 		QUESTION_CONTENT as content,
	 		QUESTION_DATE as questionDate,
	 		QUESTION_ANSWERED as answered,
	 		ANSWER_CONTENT as answerContent,
	 		ANSWER_UPDATE_DATE as answerUpdateDate,
	 		ANSWER_MODIFIED as answerModified
	 	from
	 		(select 
		 			QUESTION_NO,
		 			HOST_NO,
		 			QUESTION_CATEGORY,
		 			QUESTION_TITLE,
		 			QUESTION_CONTENT,
		 			QUESTION_DATE,
		 			QUESTION_ANSWERED,
		 			ANSWER_CONTENT,
		 			ANSWER_UPDATE_DATE,
		 			ANSWER_MODIFIED,
		 			row_number() over (order by QUESTION_DATE desc) rn
	 		from	TB_FINAL_HOST_QNAS
	 		where 
	 			host_no = #{no} )
	 		where rn between #{begin} and #{end}
	 </select>
	 

</mapper>