<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hoge.mapper.ReserveMapper">

	<select id="getReserveAccommoDto" resultType="com.hoge.dto.ReserveAccommoDto">
		select 
			a.accommo_no as no,
			a.host_no as hostNo,
			a.accommo_name as accommoName,
			r.room_no as roomNo,
			r.room_name as roomName,
			r.standard_number as standardNumber,
			r.maximum_number as maximumNumber,
			r.weekdays_price as weekdaysPrice,
			r.weekend_price as weekendPrice,
			r.peak_season_price as peakSeasonPrice,
			r.price_per_person as pricePerPerson
		from 
			tb_final_accommodations a,
			tb_final_rooms r
		where 
			a.accommo_no = r.accommo_no
			and a.accommo_no = #{accommoNo}
			and r.room_no = #{roomNo}
	</select>

</mapper>